<!DOCTYPE html>
<html>
<head>
	<title> <%= title %> </title>
    <%= render 'layouts/baju' %>
</head>
<body>
	<div class= "container">
		<%= render 'layouts/header' %>
		<section><%= yield %></section>
    	<footer><%= render 'layouts/footer'%></footer>
	</div>
</body>
</html>
